.content{
    background:#28ba62;
    margin: 3% 8%;
    height: 41px;
    border-radius: 6px;
}
.date {
    float: right;
    color: black;
    position: relative;
    border-radius: 3px;
    width: 50%;
    /* top: 1%; */
    bottom: 40%;
}

.detailar{
 
  color: black;
  margin: 10px;
  text-align: right;
}

.detailfr{
 
  color: black;
  margin: 10px;

}
.title{

    top: 40%;
    margin: 6px;
    color: black;
    width: 50%;
}

.share{
  width: 90%;
  float: left;
  margin-top: 1%;
  margin-left: 5%;
  text-align: center;
  border-radius: 11px;

}

.share img{
  width: 10%;
  margin:2%;
}

.retour{
  float: left;
  width: 35px;
  margin: 12px;
}
.ic{
  margin: 14px 10px 6px 30px;
  position: absolute;
  color: #000000;
}
.foot{
  background-color: red;
  width: 100%;
  padding: 0% 10%;
  height: 10%;
  text-align: center
}
.titrH1{
    color:black; 
    text-align: center;
    margin: 8% 0px 2px 0px;
}
  .test1{
    color: #f5f6f9;
    height: 11%;
    width: 80%;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px;
    box-shadow: 7px red;
    box-shadow: 2px 2px -4px 2px black;
    background: #fff;
     position: absolute; 
    margin: -12% 10% 0% 10%;
  }

  #header_logo {
    width: 35px;
 
    margin-right: 5px;
    float: right;
    margin-top: 5px;
    margin-bottom: 5px;
    float: right;
  }


  #ar{
    width: 35px;
 
    margin-right: 5px;
    float: right;
    margin-top: 5px;
    margin-bottom: 5px;
    float: right;
  }

  #fr{
    width: 35px;
 
    margin-right: 5px;
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
 
  }

  #en{
    width: 35px;
 
    margin-right: 5px;
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
   
  }

  .icNar{
    float: left;
    margin-top: 14px;
    margin-left: 5px;

  }

  .icNfr{
    float: right;
    margin-right: -313px;
    margin-top: 14px;
  }

  .icNen{
    float: right;
    margin-right: -290px;
    margin-top: 14px;
  }

  ion-toolbar{
    --background: #f5f6f9;
    border-bottom: 1px solid #008a37;
  }

  .ar{
    color: black;
    font-size: 22px;
    margin-right: 2px;
    float: right;
    font-family: Varela;
  }

  h1.fr{
    color: black;
    font-size: 17px;
    margin-right: 24px;
    float: right;
    font-family: Varela;
  }


  h1.en{
    color: black;
    font-size: 17px;
    margin-right: 90px;
    float: right;
    font-family: Varela;
  }



/////////////////////////@at-root
.icon{

}
.icon1{

}
.icon2{
  width:12% !important;
}

#partager{
  text-align: center;
  font-family: 'Varela';
}
