
<ion-header class="ion-no-border">
  <ion-toolbar>
   
    <img  id="{{'HOME.rac' | translate }}"   src="assets/images/logoPoliceM.png">
  
    <h1 class="{{'HOME.rac' | translate }}">{{'HOME.title' | translate }}</h1>
 
<ion-icon class="icN{{'HOME.rac' | translate }}" (click)="lngs($event)" name="ellipsis-vertical-outline"  style="height: 30px; width: 15px;"></ion-icon>
 </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img  class="retour"   src="assets/images/Image1.png" (click)="back()">

  <h1  class="titrH1">دليل المواطن</h1>
  <ion-card   class="content" >
    
    <h5 dir="rtl">من أجل سلامتك وسلامة غيرك يتوجب عليك عزيزي المواطن اتباع التعليمات التالية :</h5>
    <hr width="25%" color="black">
   <p dir="rtl">الإلتزام بكل الإجراءات الوقائية التي تنصح بها الجهات الأمنية .</p>
   <hr width="25%" color="black">
   <p dir="rtl">الإبلاغ عن كل مامن شأنه التسبب بأضرار مادية أو معنوية لك أو لغيرك .</p>
   <hr width="25%" color="black">
   <p dir="rtl">الإبتعاد عن الشحناء والملاسنات التي قد تسبب مشاكل لك او لغيرك .</p>
   <hr width="25%" color="black">
   <p dir="rtl">المحافظة على اللحمة الوطنية والعمل على تقويتها .</p>
   <hr width="25%" color="black">
   <p dir="rtl">تخفيف السرعة أثناء القيادة وتفقد التطبيق من حين لآخر لمعرفة الطرق المتضررة من زحف الرمال .</p>
   <hr width="25%" color="black">
   <p dir="rtl">إحترام قوانين السير وتجنب استخدام الهاتف أثناء القيادة .</p>
   
  </ion-card>
    
</ion-content>









