<ion-header class="ion-no-border">
  <ion-toolbar>
   
    <img  id="{{'HOME.rac' | translate }}"   src="assets/images/logoPoliceM.png">
  
    <h1 class="{{'HOME.rac' | translate }}">{{'HOME.title' | translate }}</h1>
 
<ion-icon class="icN{{'HOME.rac' | translate }}" (click)="lngs($event)" name="ellipsis-vertical-outline"  style="height: 30px; width: 15px;"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img  class="retour"   src="assets/images/Image1.png" (click)="back()">

  <h1  class="titrH1">عن التطبيق</h1>
  <ion-card   class="content" >
 
    <p dir="rtl">
      حرصا منا على سلامة المواطنين و تقريب الخدمات منهم ومواكبة لعصر التكنلوجيا قررنا في الإدارة العامة للأمن الوطني توفير هذا التطبيق الذي يسمح لك عزيزي المواطن بالتبليغ عن كل ما قد يشكل خطرا على سلامتك أو سلامة غيرك وعندها ستتم الاستجابة منا وعلى وجه السرعة ماقد يساعد في تقليل الخسائر وتفادي المخاطر .<br> كما يمكنك هذا التطبيق من إستلام كل إبلاغاتنا بالقرارات المتخذة من قبلنا من أجل المحافظة على سلامتكم.
  <br>يوفر هذا التطبيق أيضا لكم قائمة بالمفوضيات الأقرب لكم وأرقام هواتفهم مع تحديد موقع كل مفوضية.<br> كما يمكنك هذا التطبيق أيضا من معرفة الدوريات ورقم كل دورية ومنطقة تواجدها
      
  </p>
  
  </ion-card>
    
</ion-content>









