<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      A3limna
    </ion-title>
  </ion-toolbar>
</ion-header> -->


<ion-header class="header">
  <div class="test"> <img  id="headerBackGround"   src="assets/images/LogoPLS.png">
  </div>
   <img  id="header_logo"   src="assets/images/logoPoliceM.png">

  
</ion-header>








<ion-content [fullscreen]="true">

  
  <!-- Fill -->
    <div class="Bt"   (click)="Avis()">Les avis</div>
  
    <div class="Bt2"    (click)="Informer()">Informer Nous</div>
  <!-- 
    <ion-button class="Bt3"  shape="round"  color="success" (click)="Message()">Mes Message</ion-button>
   -->

  <!-- Icons -->
  
</ion-content>



